<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <a <link rel="stylesheet" href="styles.css">
    <title>welcome to my website</title>
</head>
<body>
    <section>
    <h1>WELCOME TO OPEN-TECH</h1>
        <p1>OPEN-TECH is a startup company that is delves in tech, offering both technical and practical solutions to its users.</p1>
        <p2>Being a company of the people for the people our team is dedicated to serve you at your own comfort and convinience</p2> <br></br>
    </section>
    <section>
        <p3>Below are some of the programs and solutions that we offer at affordable rates while others are done for free
            <ol>
                <li>software solutions</li>
                <li>social media account management</li>
                <li>website hosting</li>
                <li>It and consultation support</li>
                <li>web app development</li>
                <li>IoT Solutions</li>
            </ol>
        </p3>
    </section>
    <section>
        <p4> We are located a long Waiyaki way in Raham building 4th floor <br></br></p4>
        <p5>for more enquiries feel free to contact us on <br>/<br>
            phone no: +1278344778, +1226789990. <br></br>
        </p5>
        <p6>Or you can simply fill the form below to get in touch with our customer care</p6>
    </section>
    <div>
        <h3>contact form</h3>
        <label for="name">Name:</label> 
        <input type="text" id="name" name="Name"><br></br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email"><br></br>
        <label for="message">message:</label><br></br>
        <textarea id="textmessage" name="message" rows="4" cols="50" placeholder="Enter your message here..."></textarea><br><br>
        <input type="submit" value="submit"
    </div>
   
</body>
</html>
